numpy==1.25.2
pandas==1.5.3
scipy==1.11.4
matplotlib==3.7.1
scikit-learn==1.2.2
plotly==5.15.0
nltk==3.8.1
xgboost==2.0.3
hyperopt==0.2.7
sklearn-pandas==2.2.0
sentence-transformers==2.3.1
gensim==4.2.0